@font-face {
  font-family: "iconfont"; /* Project id 2830025 */
  src: url('../fonts/iconfont.woff2?t=1768530731319') format('woff2'),
       url('../fonts/iconfont.woff?t=1768530731319') format('woff'),
       url('../fonts/iconfont.ttf?t=1768530731319') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-all:before {
  content: "\e696";
}

.icon-back:before {
  content: "\e697";
}

.icon-cart:before {
  content: "\e698";
}

.icon-category:before {
  content: "\e699";
}

.icon-close:before {
  content: "\e69a";
}

.icon-comments:before {
  content: "\e69b";
}

